.side-bar{
    height: 100%;
    width: 300px;
    background-color: #082032;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 5px;
    transition: .1s ease;
    
    padding: 7px;
    color: aliceblue;
}

.collapsed{
    width: 64px;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 52px;
    height: 52px;
    text-align: center;

}

.menu-item{
    user-select: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
}



.menu-item:hover{
    background-color: rgb(212, 235, 255);
    color: #082032;
}

input[type="file"]{
    display: none;
}

label{
    display: flex;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
}

.user-name{
    width: 100%;
    text-align: center;
}
.profile-photo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-photo img{
    margin-top: 10px;
    height: 120px;
    width: 120px;
    /* background-color: white; */
    border-radius: 50%;
    
}
.profile-photo img.collapsed{
    margin-top: 10px;
    height: 40px;
    width: 40px;
    /* transition-delay: 2s; */
    border-radius: 50%;
    margin: 10px 0px;
}

.user-name{
    margin: 15px 0px;
}

.line-breaker2{
    height: .5px;
    background-color: rgba(217, 232, 245, 0.137);
}