.logout-button{
    position: fixed;
    bottom: 0rem;
    right: 0rem;
    background-color: rgb(31, 109, 133);
    border: none;
}

.main-container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    border: 1px solid rgb(202, 223, 223);
    background-color: white;
    overflow-y: scroll;
}

.video-container{
    display: flex;
    align-content: center;
    height: 100%;
    width: fit-content;
    margin: auto;
    scroll-snap-align: start;

}