.delete-comment{
    font-size: 10px;
    cursor: pointer;
}
.post-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

span.time-of-upload{
    font-size: 9px;
    margin-right: 15px;
}
.line-breaker-comment{
    width: 80%;
    margin-left: 10%;
    height: 1px;
    background-color: rgb(229, 236, 236);
}
.comment-and-info{
    display: flex;
}


.info-section{
    height: 100%;
    width: 21rem;
    border: 1px solid rgb(230, 220, 220);
    /* background-color: rgb(236, 231, 225); */
}
.post-profile{
    display: flex;
    align-items: center;
}

.post-by-name{
    color: rgb(67, 78, 74);
    margin-top: 3px;
    margin-left: 15px;
    font-weight: 600;
}

.line-breaker{
    height: .5px;
    width: 100%;
    background-color: rgb(230, 220, 220);
}

.comment-section{
    width: 100%;
    height: calc(100% - 56px);
    /* background: azure; */
    position: relative;
}

.comment-form{
    position: absolute;
    bottom: 0;
    border: 1px solid rgb(230, 220, 220);
}

.comment-form input{
    height: 50px;
    border-radius: 0;
    
    border: none;
    outline: none;
}

.comment-view{
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
}



.per-comment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.comments-profile-image{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-top: 4px;
}

.name-comment-container{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin: 0px 10px;
}
.comments-username{
    font-size: 11px;
    font-weight: bold;
}
.actual-comment{
    margin-top: 3px;
    font-size: 11px;
    word-wrap: break-word;
}